
<li >

    <div >
        {{thetitle | uppercase }}
        <div class="float-right">{{thedate | date : 'short' }}</div><br>

    </div>
    <div>
       mon contenu {{ contenu }}
    </div>


    <!-- Les bouttons love it et Don't love it  -->
        <button 
            type="button" 
            class="btn btn-success"
            (click)="countLoveIt()">
                Love it {{ numberOfLoveIt }}
        </button>
        
        
        <button type="button" 
            class="btn btn-danger"
            (click)="countDontLoveIt()">
                Don't love it {{ numberOfDontLoveIt}}
        </button>

        <!-- --------------------pour mes tests ---------------- -->
        <div *ngIf="loveIts >0">
            SI vous me voyez, c'est parceque loveIts est supérieur à 0 
        </div>

    <br>

</li>

