
<li >

    <div >
        {{thetitle | uppercase }}
        <div class="float-right">{{thedate | date : 'short' }}</div><br>

    </div>
    <div>
       mon contenu {{ contenu }}
    </div>


    <!-- Les bouttons love it et Don't love it  -->
        <button 
            type="button" 
            class="btn btn-success"
            (click)="countLoveIt()">
                Love it {{ numberLoveIt }}
        </button>
        
        
        <button type="button" 
            class="btn btn-danger"
            (click)="countDontLoveIt()">
                Don't love it {{ numberDontLoveIt}}
        </button>

    <br>

</li>

